ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


.athm-slide {
  position: relative;
}
.athm-slide__inner {
  overflow: hidden;
  position: relative;
}

.athm-slide__track {
  width: 9999em;
  position: relative;
  top: 0;
  left: 0;
}
.athm-slide__track:after {
  clear: both;
  display: table;
  content: ' ';
}

.athm-slide__item {
  float: left;
}
.athm-slide__item img {
  vertical-align: top;
}

.athm-slide__prev,
.athm-slide__next {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 3;
}
.athm-slide__prev:hover,
.athm-slide__next:hover {
  opacity: 0.9;
}
.athm-slide__prev.disabled,
.athm-slide__next.disabled {
  opacity: 0.2;
}
.athm-slide__prev {
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.athm-slide__next {
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.athm-slide__indicators {
  text-align: center;
}
.athm-slide__indicators a {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  background-color: #57b;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  vertical-align: middle;
}
.athm-slide__indicators a:hover {
  background-color: #f60;
}
.athm-slide__indicators a.active {
  width: 30px;
  background-color: #f60;
}
.athm-slide__indicators--fix {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}


.athm-slide__title {
  line-height: 32px;
  text-align: center;
}
.athm-slide__title a {
  color: #333;
  text-decoration: none;
}
.athm-slide__title a:hover {
  color: #d60000;
  text-decoration: underline;
}